[Desktop Entry]
Version=1.0
Type=Application
Name=Cozy Lapce
GenericName=Text Editor
Comment=A lightweight and fast code editor
Exec=cozy-lapce %F
Icon=cozy-lapce
Terminal=false
Categories=Development;IDE;TextEditor;
StartupNotify=true
MimeType=text/plain;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=cozy-lapce --new %F
Icon=cozy-lapce
